---
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  frontmatter: CollectionEntry<'page'>['data']
}

const { frontmatter } = Astro.props
---

<Base {frontmatter}>
  <main class="dark:bg-gray-900">
    <article class="post">
      <header>
        <PageHero
          title={frontmatter.title!}
          description={frontmatter.description}
          image={frontmatter.image}
        />
      </header>
      <section
        class="lg:prose-xl max-w-(--breakpoint-lg) prose prose-purple dark:prose-invert mx-auto my-8 px-4 lg:px-0"
      >
        <slot />
      </section>
    </article>
  </main>
</Base>
